@import "react-alice-carousel/lib/alice-carousel.css";

#work {
  height: 100vh;
  position: relative;
}

.center {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alice-carousel__dots-item.__active {
  background: black !important;
}

.alice-carousel__dots-item {
  background: gray !important;
}

.work__container {
  padding-top: 11rem;
}

.work__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}
.work__title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 85%;
  margin-left: var(--mb-0-5);
  z-index: -1;
}
.work__title span {
  margin-right: var(--mb-0-5);
}
