@import "react-alice-carousel/lib/alice-carousel.css";

#work {
  height: 100vh;
  position: relative;
}

.center {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alice-carousel__dots-item.__active {
  background: black !important;
}

.alice-carousel__dots-item {
  background: gray !important;
}

.work__container {
  padding-top: 11rem;
}

.work__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}
.work__title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 35%;
  margin-left: var(--mb-0-5);
  z-index: -1;
}
.work__title span {
  margin-right: var(--mb-0-5);
}

@media screen and (max-width: 500px) {
  .work__container {
    height: 100vh;
    padding-top: 100px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .work__title:after {
    width: 55%;
  }

  .work__title span {
    margin-right: var(--mb-0-5);
  }

  .center {
    margin-top: 70px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .work__container {
    height: 100vh;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  .work__title:after {
    width: 70%;
  }
}

@media screen and (min-width: 801px) {
  .work__title {
    margin-top: 10%;
  }
}
