.work_page__container {
  height: 100vh;
  grid-template-rows: 2fr 2fr 4fr;
}

/* title */
.work_page__title__container {
  align-self: end;
}
.work_page__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}
.work_page__title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
  margin-left: var(--mb-0-5);
  z-index: -1;
}
.work_page__title span {
  margin-right: var(--mb-0-5);
}
.work_page__title span:nth-child(2) {
  margin-left: var(--mb-0-5);
}

/* cover image */
.work_page__cover {
}

.work_page__cover img {
}

/* content */
.work_page__content {
  grid-template-columns: 3fr 2fr;
  grid-gap: 1em;
  justify-items: center;
}

.work_page__content p {
  margin-bottom: var(--mb-1);
}

.work_page__skills h4 {
  margin-bottom: var(--mb-0-5);
}

.work_page__skills ul li {
  padding-right: 0px;
  margin-bottom: var(--mb-0-25);
}

.work_page__links {
  columns: 2;
  column-rule: 1px solid white;
}
